.footer {
  margin: 100px 0 0;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.footer p {
  color: white;
  margin: 5px 0 0;
}

.footer p a {
  color: var(--primary-text-color);
}

.footer p a:hover {
  color: var(--secondary-text-color);
}
